<div class="m-5">
  <h1>Your Profile</h1>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @user['given_name'] %></h5>
      <p><%= @user['nickname'] %>
      </p>
      <a href="/products" class="btn btn-primary">Continue Shopping</a>
      <a href="/cart" class="btn btn-primary">Continue to Checkout</a>
    </div>
  </div>
<%
=begin%>
 
 <p class="mt-3">Normalized User Profile:<%= JSON.pretty_generate(@user)%></p>  
<%
=end%>

</div>
